/* Font */
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

@font-face {
    font-family: 'LigatureSymbols';
    src: url('/fonts/LigatureSymbols-2.11.eot');
    src: url('/fonts/LigatureSymbols-2.11.eot?#iefix') format('embedded-opentype'),
         url('/fonts/LigatureSymbols-2.11.woff') format('woff'),
         url('/fonts/LigatureSymbols-2.11.ttf') format('truetype'),
         url('/fonts/LigatureSymbols-2.11.svg#LigatureSymbols') format('svg');
    src: url('/fonts/LigatureSymbols-2.11.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {  
    font-family: 'Mplus';  
    src: url('/fonts/mplus-1p-regular.eot');
    src: url('/fonts/mplus-1p-regular.eot?#iefix') format('embedded-opentype'),
         url('/fonts/mplus-1p-regular.woff') format('woff'),
         url('/fonts/mplus-1p-regular.ttf') format('truetype');
    src: url('/fonts/mplus-1p-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal; 
} 

.Montserrat {
    font-family: 'Montserrat', sans-serif;
}

.lsf, .lsf-icon:before, .lsf-icona:after {
  font-family: 'LigatureSymbols';
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.lsf-icon:before, .lsf-icona:after {
  content:attr(title);
  margin-right:0.3em;
  font-size:200%;
}


/* Body */
body {
    background-color: #FCFCFC;
    font-family: 'Mplus', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #555;

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}


/* Logo */
@-webkit-keyframes typing {
    from { width: 2.2em }
    to { width: 8.0em }
}
 
@-moz-keyframes typing {
    from { width: 2.2em }
    to { width: 8.0em }
}
 
.logo {
    width: 8.0em;
    white-space:nowrap;
    overflow:hidden;
     
    -webkit-animation: typing 1s steps(60, end);
    -moz-animation: typing 1s steps(60, end);
}


/* Titles */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #555;
}

h1 {
    font-size: 35px;
    margin-top: 30px;
    margin-bottom: 30px;
}


/* Paragraph & Typographic */
p {
    line-height: 28px;
    padding-top: 15px;
    padding-bottom: 5px;
    font-size: 16px;
}

.centered {
    text-align: center;
}

.strike {
    color: #555;
    text-decoration: line-through;
}

.reverse {
    display: table-cell;
    vertical-align: middle;
    width: 120px;
    height: 100px;
    color: #FFF;
}


/* Links */
a {
    color: #FC9D9A;
    word-wrap: break-word;

    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover,
a:focus {
    color: #FE4365;
    text-decoration: none;
    outline: 0;
}

a:before,
a:after {
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: medium double #CCC;
    margin: 1em 0;
    padding: 0;
}

/* Border */
.border-inside {
    overflow: hidden;
    float: left;
}
.border-inside:hover {
    border: 10px solid;
    border-color: #FE4365;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.border-inside:hover img {
    margin: -10px;
}


/* Img */
.img-responsive {
    display: inline-block!important;
}

.img-circle {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.img-120 {
    width: 120px;
    height: 120px;
}

.img-150 {
    width: 150px;
    height: 150px;
}

.img-200 {
    width: 200px;
    height: 200px;
}

/* Nav */
.navbar {
    margin-bottom: 0px;
}

.navbar-inverse {
    padding-bottom: 30px;
    padding-top: 30px;
}

.navbar-inverse {
    background-color: #83AF9B;
    border-color: #C8C8A9;
    border-bottom-width: 10px;
}

.navbar-inverse .navbar-nav > li > a {
    color: white;
}

.navbar-inverse .navbar-nav > li > a:hover {
    color: #FE4365;
}

.navbar-brand {
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 2px;
}

.navbar-inverse .navbar-brand {
    color: white;
}

.navbar-inverse .navbar-toggle {
    border-color: transparent;
}

.progress-bar-theme {
  background-color: #1abc9c;
}

/* Modal */
.modal-dialog {
    margin: 10px auto;
}

.modal-header {
    background-color: #FC9D9A;
}

.modal-title {
    font-family: 'Mplus';
    color: #FFF;
}


/* Helpers */
.mt {
    padding-top: 120px;
    padding-bottom: 40px;
}

.pt {
    padding-top: 120px;
    padding-bottom: 40px;
}


/* Wrap */
#photo, #about {
    padding-top: 120px;
    padding-bottom: 40px;
    background-color: #F2F2F2;
}

.row {
    padding-top: 30px;
}


/* Footer */
#footer {
    border: 1px solid transparent;
    background-color: #83AF9B;
    border-color: #C8C8A9;
    border-top-width: 10px; 
    padding-top: 30px;
    padding-bottom: 10px;
}

#footer p {
    color: white;
}

#footer h4 {
    color: white;
    text-transform: uppercase;
    padding-bottom: 20px;
}

/* Focus */
.zoom { 
    display:inline-block; 
    position:relative; 
    overflow:hidden; 
    background:transparent url(/img/loader.gif) no-repeat center;
}

.zoomOverlay {
    position:absolute;
    top:0; left:0;
    bottom:0; right:0;
    display:none;
    background-image:url(/img/zoom.png);
    background-repeat:no-repeat;
    background-position:center;
}

.zoom2 {
    opacity: 1;
}

.zoom2:hover {
    opacity: 0.5;
}


/* Flip */
.flip-container {
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -o-perspective: 1000;
    perspective: 1000;
}

.flip-container:hover .flipper, .flip-container.hover .flipper {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.flip-container, .front, .back {
    width: 120px;
    height: 120px;
    margin-bottom: 15px;
}

.flipper {
    -webkit-transition: 0.6s;
    -webkit-transform-style: preserve-3d;

    -moz-transition: 0.6s;
    -moz-transform-style: preserve-3d;

    -o-transition: 0.6s;
    -o-transform-style: preserve-3d;

    transition: 0.6s;
    transform-style: preserve-3d;

    position: relative;
}

.front, .back {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;

    position: absolute;
    top: 0;
    left: 0;
}

.front {
    z-index: 2;
}

.back {
    background-color: #555;
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}


/* Scroll */
#pagetop {
    position: fixed;
    bottom: 60px;
    right: 10px;
}

#pagedown {
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.scroll {
    font-size: 40px;
    width: 90px;
    color: #CCC;
    text-align: right;
}

/* Other */
.browser {
    font-size: 40px;
}